.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  z-index: 1;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  color: white;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: #111;
  opacity: 0.93;
}

.navbar__black {
  background-color: #000000;
  height: 25px;
  opacity: 1;
}

.navbar__logo {
  width: 140px;
  object-fit: contain;
  z-index: 100;
  cursor: pointer;
}

.navbar_links {
  display: flex;
}

.navbar_links > h3 {
  font-size: 13px;
  padding: 10px;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
  letter-spacing: 1px;
}

.active {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 4px;
}
