.home {
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__title {
  display: flex;
  flex-direction: column;
}

.home__title1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.home__titleText1 {
  transition-timing-function: ease-in;
  transition: all 150ms;
}

.home__titleText2 {
  transition-timing-function: ease-in;
  transition: all 150ms;
}

.home__title2 {
  font-size: 70px;
  font-weight: 600;
}

.home__title3 {
  font-size: 30px;
}

.home__titleText1:hover {
  transform: scale(1.2);
  color: red;
}

.home__titleText2:hover {
  transform: scale(1.4);
  color: red;
}

.home__title > span {
  margin-top: 20px;
  border-bottom: 7px solid red;
  width: 100px;
}
