.contact {
  height: 1000px;
  background-color: #1b1d1e;
}

.contact__form {
  height: 700px;
}

.footer {
  display: flex;
  background-color: #181a1b;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: red;
  font-weight: 400;
  font-size: 40px;
}

.footer > h1 {
  font-size: 12px;
  font-weight: 400;
}

.contact__info {
  display: flex;
}

.contact__form {
  flex: 0.5;
}

.contact__map {
  flex: 0.5;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .contact__info {
    flex-direction: column;
    align-items: center;
  }
  .contact__map {
    flex: 0.5;
    flex-direction: row;
    height: 500px;
    margin: 30px;
    width: 500px;
  }
}
