.contact {
  height: 1000px;
  /* color: black; */
  background-color: #1b1d1e;
}

.contact__form {
  height: 700px;
}

.footer {
  display: flex;
  background-color: #181a1b;
  align-items: center;
  justify-content: center;
  padding: 40px;
  /* opacity: 0.7; */
}

.footer > h1 {
  font-size: 12px;
  font-weight: 400;
}

.contact__info {
  display: flex;
}

.contact__form {
  flex: 0.5;
}

.contact__map {
  flex: 0.5;
  width: 100%;
}
